<ul>
    <li><a href="/">Buurtsite</a></li>
    <li><a href="/vraag">Vraag</a></li>
    <li><a href="/aanbod">Aanbod</a></li>
    <li><a href="/aanmelden">Aanmelden</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/over-ons">Over ons</a></li>
    <li><a href="/faq">FAQ</a></li>
</ul>

<style>
    ul {
        display: flex;
        gap: 1em;
    }

    li {

    }

</style>