<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/vraag">Vraag</a></li>
    <li><a href="/aanbod">Aanbod</a></li>
    <li><a href="/">Aanmelden</a></li>
    <li><a href="/">Contact</a></li>
    <li><a href="/">Over ons</a></li>
    <li><a href="/faq">FAQ</a></li>
</ul>